# name: Deploy via FTP
# run-name: ${{ github.actor }} is learning GitHub Actions
# on: [push]
# jobs:
#   check-bats-version:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - uses: actions/setup-node@v3
#         with:
#           node-version: '14'
#       - run: npm install -g bats
#       - run: bats -v

# DEPLOY PARA FTP


name: FTP Deploy Locaweb
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: FTP Deploy Locaweb
      uses: locaweb/ftp-deploy@1.0.0
      with:
        host: ${{ secrets.ftp.lorenzzovillage.com.br }} 
        user: ${{ secrets.lorenzzovillage1 }}
        password: ${{ secrets.PASS }}
        localDir: "./APTO-PRUDENTE"